* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    --body: rgb(245, 247, 250);
    --fontColor: #254d4d;
    --textDark: #171717;
}

body {
    background-color: var(--body);
    margin: 20px 100px;
}

h1 {
    z-index: -100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
}

nav ul {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--textDark);
    font-size: 20px;
    font-weight: 300;

}

ion-icon {
    font-size: 30px;
    cursor: pointer;
}

section:first-of-type {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}

section:first-of-type div:first-of-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    animation: div1 .5s;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

section:first-of-type div:first-of-type h2 {
    font-size: 64px;
    color: var(--fontColor);
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
}

section:first-of-type div:first-of-type img {
    width: 500px;
}

section:first-of-type div:first-of-type p {
    opacity: .7;
    font-size: 17px;
}

@keyframes div1 {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 10%;
        opacity: 1;
    }
}
.hotDeals {
    text-align: center;
    margin-top: 100px;
}
.hotDeals h2,.about h2,.products h2 {
    font-size: 50px;
    color: var(--fontColor);
    font-family: 'inter',sans-serif;
    margin-bottom: 20px;

}
.hotDeals h2::first-letter {
    font-size: 60px;
}
.hotDeals p:first-of-type {
    font-size: 20px;
    opacity: .9;
}
.hotDeals > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.hotDeals > div div {
    width: calc(100%/4);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.hotDeals > div div::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    background-color: var(--fontColor);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all .3s cubic-bezier(0.5, 0, 0, 1);
}


.hotDeals > div div p {
    padding: 0px 40px;
    margin-top: 30px;
}
.hotDeals div div h3 {
    font-size: 30px;
}
.about {
    text-align: center;
    margin-top: 100px;
}
.about > div {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}
.about img {
    width: 900px;
}
.about div div {
    display: flex;
    flex-direction: column;
    transition: all .3s cubic-bezier(0,.68,.49,1.29);
}
.about div div span {
    padding: 20px;
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all .3s cubic-bezier(0,.68,.49,1.29); 
    margin: 10px;
}
.about div div span:hover , .products div div:hover {
    filter: none;
    transform: scale(1.1);
    margin: 20px;
}
.about div div span h3 {
    font-size: 30px;
    color: var(--fontColor);
    margin-bottom: 30px;
}
.products div div img {
    width: 275px;
    margin-top: 20px;
}
.products {
    text-align: center;
    margin-top: 100px;
}
.products div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products div div {
    width: calc(100%/4);
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all .3s cubic-bezier(0,.68,.49,1.29);
    cursor: pointer;
}